@import "tailwindcss"
;
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

body::-webkit-scrollbar{
    background: rgb(0, 136, 255);
    width: 7px;
}


body::-webkit-scrollbar-thumb{
    background: rgb(5, 52, 93);
}

body,html{
    height: 100%;
    width: 100%;
}